*__pycache__*
backup/*
/out/*
/out
.vscode/*
*.out
/third_party/*
/third_party
wandb/*
/outputs/*
/outputs
/ckpts/*
/ckpts
/swanlog
/swanlog/*
/result.py
/*.pdf
/test.py
/files
/files/*
/utils
/utils/*